QDarkStyle==3.2.3
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6-sip==13.6.0
screeninfo==0.8.1
natsort==8.4.0
monai==1.4.0
ultralytics==8.3.174
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
